<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!--前端控件日志-->
    <logger name="MainLog">
      <!--定义日志输出控制级别，由低到高: ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF-->
      <level value="All"/>
      <appender-ref ref="MainLogAppender" />
    </logger>
    <!--SDK日志-->
    <logger name="SdkLog">
      <level value="All"/>
      <appender-ref ref="SdkLogAppender" />
    </logger>
    <!--事件查看器日志-->
    <logger name="EventLog">
      <level value="All"/>
      <appender-ref ref="EventLogAppender" />
    </logger>
    <!--定义输出到文件中-->
    <appender name="MainLogAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义日志存放位置-->
      <file value="LogDLLV07.3C\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd&quot;.log&quot;"/><!--"yyyyMMdd'.txt'"-->
      <staticLogFileName value="false"/>
      <!--定义日志文件最大文件大小 单位M-->     
      <maximumFileSize value="10MB" />
      <MaxSizeRollBackups value="100" />
      <Encoding value="utf-8" />
      <!--定义日志输出格式-->
      <layout type="log4net.Layout.PatternLayout">
       <!-- <conversionPattern value="%-5level    PID:[%property{pid}]      DateTime：%date %message%newline"/>-->
      </layout>
      <!-- 最小锁定模式，以允许多个进程可以写入同一个文件 -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <appender name="SdkLogAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义日志存放位置-->
      <file value="SdkLog\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="'DotnetSdk_'yyyyMMdd&quot;.log&quot;"/>
      <Encoding value="utf-8" />
      <staticLogFileName value="false"/>
      <!--定义日志文件最大文件大小 单位M-->
      <maximumFileSize value="10MB" />
      <MaxSizeRollBackups value="100" />
      <!--定义日志输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <!-- <conversionPattern value="%-5level    PID:[%property{pid}]      DateTime：%date %message%newline"/>-->
      </layout>
      <!-- 最小锁定模式，以允许多个进程可以写入同一个文件 -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <!--定义日志输出到事件查看器中-->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
      <logName value="FCMS1001" />
      <applicationName value="FCMS1001" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />-->
      </layout>
    </appender>
  </log4net>
</configuration>